{# Plantilla principal de nuestra APP #}
{% extends 'base.html.twig' %}

{# TITULO #}
{% block title %}
    Nuestro Team Super Admin++ Emperor
{% endblock %}

{# CONTENIDO BODY #}
{% block contenido %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Doplay Studios
            <small>Team</small>
        </h1>
    </div>

        <!-- Image Header -->
        <div class="container-fluid">
            <img class="img-fluid rounded mb-4" src="{{ asset('img/jh4.jpg') }}" alt="machine slot casino">
        </div>

        <div class="container">
        <h2>Nuestro Equipo</h2>
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="{{ asset('img/pp.jpeg') }}" alt="quitito Img">
                    <div class="card-body">
                        <h4 class="car-title">Kitito</h4>
                        <h6 class="card-subtitle mb2 text-muted">: )</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">name@example.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="{{ asset('img/pp2.jpeg') }}" alt="llitito Img">
                    <div class="card-body">
                        <h4 class="car-title">Yitito</h4>
                        <h6 class="card-subtitle mb2 text-muted">: )</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">name@example.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="{{ asset('img/pp3.jpeg') }}" alt="cristo Img">
                     <div class="card-body">
                        <h4 class="car-title">Cristito</h4>
                        <h6 class="card-subtitle mb2 text-muted">: )</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                         <a href="#">name@example.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="{{ asset('img/pp4.jpeg') }}" alt="va Img">
                    <div class="card-body">
                        <h4 class="car-title">Vítito</h4>
                        <h6 class="card-subtitle mb2 text-muted">: )</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">name@example.com</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
{% endblock %}